---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: postgres-operator
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "-5"
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: infra
  sources:
    # yamllint disable-line rule:line-length
    - repoURL: https://opensource.zalando.com/postgres-operator/charts/postgres-operator
      chart: postgres-operator
      targetRevision: 1.15.1
    - repoURL: https://github.com/JanWelker/homelab.git
      targetRevision: HEAD
      path: payload/platform/postgres-operator
      directory:
        exclude: "application.yaml"
  destination:
    server: https://kubernetes.default.svc
    namespace: postgres-operator
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
