# Route53 credentials for cert-manager DNS-01 solver
# Create this secret manually with your AWS credentials:
#
#   kubectl create secret generic route53-credentials \
#     --namespace cert-manager \
#     --from-literal=access-key-id=YOUR_ACCESS_KEY_ID \
#     --from-literal=secret-access-key=YOUR_SECRET_ACCESS_KEY
#
# The IAM user/role needs these permissions:
# - route53:GetChange (arn:aws:route53:::change/*)
# - route53:ChangeResourceRecordSets (arn:aws:route53:::hostedzone/*)
# - route53:ListResourceRecordSets (arn:aws:route53:::hostedzone/*)
# - route53:ListHostedZonesByName (*)
#
# This file is a template only - do NOT commit actual credentials!
---
apiVersion: v1
kind: Secret
metadata:
  name: route53-credentials
  namespace: cert-manager
type: Opaque
stringData:
  access-key-id: REPLACE_WITH_YOUR_ACCESS_KEY_ID
  secret-access-key: REPLACE_WITH_YOUR_SECRET_ACCESS_KEY
