global:
  domain: argo.infra.k8s.wlkr.ch

# Enable HA
redis-ha:
  enabled: true

controller:
  replicas: 1

server:
  replicas: 3
  extraArgs:
    # Enable running on HTTP (Gateway handles TLS)
    - --insecure
  # Ingress removed - using Gateway API HTTPRoute instead

repoServer:
  replicas: 3

applicationSet:
  replicas: 2

configs:
  cm:
    resource.exclusions: |
      - apiGroups:
        - actions.github.com
        kinds:
        - AutoscalingListener
        - EphemeralRunnerSet
        - EphemeralRunner
        clusters:
        - "*"
    resource.customizations: |
      gateway.networking.k8s.io/HTTPRoute:
        ignoreDifferences: |
          jsonPointers:
          - /spec/parentRefs/0/group
          - /spec/parentRefs/0/kind
          - /spec/rules/0/backendRefs/0/group
          - /spec/rules/0/backendRefs/0/kind
          - /spec/rules/0/backendRefs/0/weight
          - /spec/rules/0/matches/0/path/type
          - /spec/rules/0/matches/0/path/value
      apps/StatefulSet:
        ignoreDifferences: |
          jsonPointers:
          - /spec/volumeClaimTemplates/0/apiVersion
          - /spec/volumeClaimTemplates/0/kind
