---
- name: Fetch Kubeconfig
  hosts: control_plane[0]
  become: true
  gather_facts: false
  tasks:
    - name: Cat admin.conf
      ansible.builtin.raw: cat /etc/kubernetes/admin.conf
      register: kubeconfig_content
      changed_when: false

    - name: Save to local file
      ansible.builtin.copy:
        content: "{{ kubeconfig_content.stdout }}"
        dest: "{{ playbook_dir }}/../../output/kubeconfig"
        mode: "0600"
      delegate_to: localhost
      become: false
