# yaml-language-server: $schema=https://raw.githubusercontent.com/argoproj/argo-cd/master/manifests/crds/application-crd.yaml
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cilium
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "-1"
    link.argocd.argoproj.io/external-link: https://hubble.infra.k8s.wlkr.ch
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: infra
  sources:
    - repoURL: https://helm.cilium.io/
      chart: cilium
      targetRevision: 1.18.5
      helm:
        valueFiles:
          - $values/payload/platform/cilium/values.yaml
    - repoURL: https://github.com/JanWelker/homelab.git
      targetRevision: HEAD
      ref: values
  destination:
    server: https://kubernetes.default.svc
    namespace: kube-system
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - ServerSideApply=true
  ignoreDifferences:
    # Ignore certificates managed by Cilium operator/agent
    - group: ""
      kind: Secret
      name: cilium-ca
      jsonPointers:
        - /data
    - group: ""
      kind: Secret
      name: hubble-relay-client-certs
      jsonPointers:
        - /data
    - group: ""
      kind: Secret
      name: hubble-server-certs
      jsonPointers:
        - /data
