---
- name: "Download {{ item.name | capitalize }} DIGESTS"
  ansible.builtin.uri:
    url: "{{ url }}/{{ item.file }}.DIGESTS"
    return_content: true
  register: artifact_digests

- name: "Set {{ item.name | capitalize }} Checksum Fact"
  ansible.builtin.set_fact:
    artifact_checksum: "{{ artifact_digests.content | regex_search('(?s)# SHA512 HASH\\n([a-f0-9]+)', '\\1') | first }}"

- name: "Download {{ item.name | capitalize }}"
  ansible.builtin.get_url:
    url: "{{ url }}/{{ item.file }}"
    dest: "{{ http_dir }}/{{ item.file }}"
    checksum: "sha512:{{ artifact_checksum }}"
    mode: "0644"
