---
name: Lint Markdown
permissions:
  contents: read

"on":
  push:
    branches: ["main", "master"]
    paths:
      - "**/*.md"
  pull_request:
    paths:
      - "**/*.md"
  workflow_dispatch:

jobs:
  markdown-lint:
    name: Markdown
    runs-on: arc-runner-set
    container: node:24.12.0-alpine
    steps:
      - name: Checkout
        # v6
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Install markdownlint-cli2
        run: npm install -g markdownlint-cli2

      - name: Run markdownlint
        run: markdownlint-cli2 '**/*.md' '!**/.venv' '!.agent'
