---
name: Lint Ansible

on:
  push:
    branches: ["main", "master"]
    paths:
      - "ansible/**"
  pull_request:
    paths:
      - "ansible/**"
  workflow_dispatch:

jobs:
  ansible-lint:
    name: Ansible
    runs-on: arc-runner-set
    container: python:3.14-slim
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Install ansible-lint
        run: pip install ansible-lint

      - name: Run ansible-lint
        working-directory: ansible
        run: ansible-lint
