---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: homelab-docs
  namespace: documentation
  labels:
    app.kubernetes.io/name: homelab-docs
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: homelab-docs
  template:
    metadata:
      labels:
        app.kubernetes.io/name: homelab-docs
    spec:
      containers:
        - name: homelab-docs
          image: ghcr.io/janwelker/homelab-docs:sha-de4ca61@sha256:d0eb9c91fa5a82e748ba97c2f091615e915d4f64a01918a5305c89c8dd88cf3e
          resources:
            requests:
              cpu: 10m
              memory: 32Mi
            limits:
              cpu: 100m
              memory: 64Mi
          ports:
            - containerPort: 8080
              name: http
          livenessProbe:
            httpGet:
              path: /
              port: 8080
          readinessProbe:
            httpGet:
              path: /
              port: 8080
          securityContext:
            allowPrivilegeEscalation: false
            runAsNonRoot: true
            runAsUser: 101
            capabilities:
              drop:
                - ALL
            seccompProfile:
              type: RuntimeDefault
