---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: homelab-docs
  namespace: documentation
  labels:
    app.kubernetes.io/name: homelab-docs
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: homelab-docs
  template:
    metadata:
      labels:
        app.kubernetes.io/name: homelab-docs
    spec:
      containers:
        - name: homelab-docs
          image: ghcr.io/janwelker/homelab-docs:sha-7780aea@sha256:da32f17154802b3c5a5b83987b5d789a189a54e453ae58de6e0229d048899e68
          resources:
            requests:
              cpu: 10m
              memory: 32Mi
            limits:
              cpu: 100m
              memory: 64Mi
          ports:
            - containerPort: 8080
              name: http
          livenessProbe:
            httpGet:
              path: /
              port: 8080
          readinessProbe:
            httpGet:
              path: /
              port: 8080
          securityContext:
            allowPrivilegeEscalation: false
            runAsNonRoot: true
            runAsUser: 101
            capabilities:
              drop:
                - ALL
            seccompProfile:
              type: RuntimeDefault
